<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <title>Node API File Uploads</title>
</head>

<body>
  <div class="container" style="text-align: center;;">
    <h1>Upload Zip Files</h1>
    <!-- <%= typeof msg != 'undefined' ? msg : '' %> -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn green">
          <span>File</span>
          <input name="myImage" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" style="color: black;font-size: 20px;font-weight: bold;">
        </div>
      </div>
      <button type="submit" class="btn primary"  style="text-align: center;width: auto;margin-top :20px; ">Submit</button>
    </form>
    <br>
  
      <h2 style="color:green">
        <%= typeof file !='undefined' ? file : '' %>  <%= typeof msg !='undefined' ? msg : '' %>
      </h2>
     
        <button type="" class="btn secondary"  >Download File</button>
       

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>